.chatspace
  .chat-side
    .chat-user
      .chat-user__name
        %h5 tanamana
      .chat-user__action
        %i.fa.fa-pencil-square-o
        %i.fa.fa-cog
    .chat-group
      .chat-group__name
        %p らっこ
      .chat-group__message
        %p まだメッセージはありません
    .chat-group
      .chat-group__name
        %p ねこ
      .chat-group__message
        %p まだメッセージはありません
    .chat-group
      .chat-group__name
        %p うさぎ
      .chat-group__message
        %p まだメッセージはありません
  .chat-main
    .chat-header
      .chat-header__left
        %h2.group らっこ
        %p.user Members: tanamana
      .chat-header__right
        %a.edit-btn Edit

    .chat-content
    .chat-form
