.alert-notice {
  background-color: $light_blue;
  color: $white;
  text-align: center;
  padding: 3px 0px;
}

.alert-alert {
  background-color: $doll_red;
  color: $white;
  text-align: center;
  padding: 3px 0px;
}
